name: Coverage
on:
  push:
    branches:
      - "*"
env:
  RUST_BACKTRACE: 1
jobs:
  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: stable
      
      - name: Install tarpaulin
        run: cargo install tarpaulin
        
      - name: Run coverage
        run: cargo tarpaulin --engine llvm --follow-exec --post-test-delay 10 --coveralls ${{ secrets.COVERALLS_TOKEN }} 

